<div clrForm class="inline-form">
    <clr-input-container>
        <label>From:</label>
        <input type="text" clrInput
               [owlDateTimeTrigger]="dtBegin" [owlDateTime]="dtBegin"
               [(ngModel)]="timeRange"
               [selectMode]="'rangeFrom'">
        <owl-date-time #dtBegin></owl-date-time>
    </clr-input-container>

    <clr-input-container>
        <label>To:</label>
        <input type="text" clrInput
               [owlDateTimeTrigger]="dtEnd" [owlDateTime]="dtEnd"
               [(ngModel)]="timeRange"
               [selectMode]="'rangeTo'">
        <owl-date-time #dtEnd></owl-date-time>
    </clr-input-container>

    <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox [(ngModel)]="utc"/>
        <label>UTC</label>
    </clr-checkbox-wrapper>

    <button class="btn btn-primary" (click)="query()">
        Query
    </button>
</div>
