<div class="main-container">

    <!-- <div class="alert alert-app-level"></div> -->

    <header class="header header-6">
        <div class="branding">
            <a href="/" class="nav-link">
                <clr-icon shape="bar-chart" class="is-solid is-inverse"></clr-icon>
                <span class="title">webmonitor</span>
            </a>
        </div>
        <div class="header-nav">




            <div class="header-actions">
                <clr-dropdown>
                    <button class="nav-text" clrDropdownTrigger>
                        Presets
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen>
                        <template *ngFor="let p of presetRoutes">
                            <a *ngIf="p.title" [locationLink]="p.path" clrDropdownItem>
                                {{p.title}}
                            </a>
                        </template>
                        <div class="dropdown-divider"></div>
                        <a [locationLink]="sandboxPath"
                            clrDropdownItem>
                            -sandbox-
                        </a>
                    </clr-dropdown-menu>
                </clr-dropdown>


            <div class="nav-text text-info">
                <a class="nav-link nav-text" href="http://srv-s2d16-22-01.cms/webmonitor-backup">
                    Backup: srv-s2d16-22-01.cms/webmonitor-backup
                </a>
            </div>
            </div>

        </div>

        <div class="header-actions">


            <a class="nav-link nav-icon tooltip tooltip-bottom-left tooltip-xs"
                (click)="play()">
                <clr-icon shape="play" class="is-solid"></clr-icon>
                <span class="tooltip-content">
                    Start
                </span>
            </a>

            <a class="nav-link nav-icon tooltip tooltip-bottom-left tooltip-xs"
                (click)="stop()">
                <clr-icon shape="stop" class="is-solid"></clr-icon>
                <span class="tooltip-content">
                    Stop
                </span>
            </a>

            <a class="nav-link nav-icon tooltip tooltip-bottom-left tooltip-xs"
                (click)="dashboard.layoutMode = !dashboard.layoutMode">
                <clr-icon
                    shape="grid-view"
                    [class.is-solid]="dashboard.layoutMode">
                </clr-icon>
                <span class="tooltip-content">
                    Layout mode
                </span>
            </a>

            <a class="nav-link nav-icon tooltip tooltip-bottom-left tooltip-xs"
                (click)="settings.open()">
                <clr-icon shape="cog"></clr-icon>
                <span class="tooltip-content">
                    Settings
                </span>
            </a>
        </div>
    </header>

    <div class="content-container">
        <div class="content-area">
            <app-home *ngIf="hideDashboard"></app-home>
            <app-dashboard
                #dashboard
                [hidden]="hideDashboard"
                [config]="presetConfig">
            </app-dashboard>
            <app-settings-modal
                #settings
                [dashboard]="dashboard">
            </app-settings-modal>
        </div>
    </div>
</div>
