<wm-widget
    #widgetWrapper
    [config]="config.wrapper"
    [info]="info"
    (refresh)="onRefreshEvent()"
    (start)="onStartEvent()"
    (timer)="updateLive()">
    <div class="widget-options">
    </div>
    <div class="widget-queries">
        <wm-date-range-form
            *ngIf="wi.timestampField"
            (query)="queryRange($event)">
        </wm-date-range-form>
        <wm-fill-run-ls-form
            *ngIf="wi.fillQueriesEnabled"
            [fillEnabled]="true" [runEnabled]="false" [lsEnabled]="false"
            (query)="queryFillRun($event)">
        </wm-fill-run-ls-form>
        <wm-fill-run-ls-form
            *ngIf="wi.runQueriesEnabled"
            [fillEnabled]="false" [runEnabled]="true" [lsEnabled]="false"
            (query)="queryFillRun($event)">
        </wm-fill-run-ls-form>
        <wm-range-form
            *ngIf="wi.hasOwnProperty('xField') && wi['xField']"
            inputType="number"
            [key]="wi.xField"
            (query)="onBasicXRangeQuery($event)">
        </wm-range-form>
    </div>
    <div class="widget-content">
        <div #plot style="height: 100%; width: 100%"></div>
    </div>
</wm-widget>
