<div clrForm class="inline-form">
    <clr-input-container>
        <label>Min {{label || key}}:</label>
        <input clrInput [type]="inputType"
               [(ngModel)]="minValue">
    </clr-input-container>

    <clr-input-container>
        <label>Max {{label || key}}:</label>
        <input clrInput [type]="inputType"
               [(ngModel)]="maxValue">
    </clr-input-container>

    <button class="btn btn-primary" (click)="query()">
        Query
    </button>
</div>
